<!--
 * Author: Jeremy Lates
 * Date: 3/30/2024
 * Description: composer list
 * Notes:
 * Code was adapted from https://github.com/buwebdev/web-425/blob/master/week-2/composer-app/src/app/composer-list/composer-list.component.html
-->
<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Full name</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody *ngFor="let composer of composers">
        <tr>
          <td scope="row">{{ composer.fullName }}</td>
          <td>{{ composer.genre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
