<!--
 * Author: Jeremy Lates
 * Date: 3/30/2024
 * Description: composer bio and pic
 * Notes:
 * Code was adapted from https://github.com/buwebdev/web-425/blob/master/week-2/composer-app/src/app/about/about.component.html
-->
<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Wolfgang Amadeus Mozart</h3>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-3">
      <!--  <img src="../../assets/mozart-300x300.jpg" /> -->
      <!-- Need royalty in order to use I think. Could not find one that I could use -->
      <div>
        <p>Photo goes here</p>
      </div>
    </div>
    <div class="col-sm-9">
      <p>
        Wolfgang (or Wolferl, as his family called him) was a child prodigy. He
        composed his first piece of music at age five; he had his first piece
        published when he was seven; and he wrote his first opera when he was
        twelve. By the time Wolfgang was 6, he was an excellent pianist and
        violinist. He and his sister Maria Anna (known as Nannerl) traveled all
        over Europe performing for royalty. When he grew up, Mozart moved to
        Vienna, and tried to earn a living as a pianist and composer. But he had
        a lot of trouble handling the fact that he was no longer a child
        prodigy. Mozart was still a musical genius, but after he stopped being a
        cute kid, people stopped making a big fuss over him. Back then,
        musicians were treated like servants, but Mozart did not, and could not
        think of himself as a servant. Mozart was only 35 when he died. During
        his short life, he composed in all different musical forms, including
        operas, symphonies, concertos, masses, and chamber music. Today, he is
        still considered a genius!
        <em class="apa-reference"
          ><a
            href="https://www.classicsforkids.com/composer/wolfgang-amadeus-mozart/"
            target="_blank"
            >Source</a
          ></em
        >
      </p>
    </div>
  </div>
</div>
