<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/eric-jerome-dickey.jpeg" />
      </div>
      <div>
        <em>
          Photo by Joseph Jones
          <a
            class="attribution-link"
            href="https://www.penguinrandomhouse.com/authors/61393/eric-jerome-dickey/"
            target="_blank"
          ></a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Eric Jerome Dickey</h1>
    <p>
      Eric Jerome Dickey (1961-2021) was the award-winning and New York Times
      bestselling author of 29 novels, as well as a six-issue miniseries of
      graphic novels featuring Storm (X-Men) and the Black Panther. His novel
      Sister, Sister was honored as one of Essence’s “50 Most Impactful Black
      Books Of The Last 50 Years”, and A Wanted Woman won the NAACP Image Award
      in the category of Outstanding Literary Work in 2014. His most recent
      novels include The Blackbirds, Finding Gideon, Bad Men and Wicked Women,
      Before We Were Wicked, The Business of Lovers, and The Son of Mr. Suleman.
      .
    </p>
    <em
      >Biography by:
      <a
        href="https://www.penguinrandomhouse.com/authors/61393/eric-jerome-dickey/"
        target="_blank"
        class="attribution-link"
        >Penguin Random House</a
      ></em
    >
  </div>
</div>
